{{define "_header"}}
<title>Hacktive8 Golang Class</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />

<link href="static/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" />
<link href="static/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="static/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<link href="static/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="static/css/animate.min.css" rel="stylesheet" type="text/css" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<link href="static/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="static/css/custom-icon-set.css" rel="stylesheet" type="text/css" />
{{end}}